{# Load the tag library #}
{% load bootstrap5 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detailpage</title>
    <link rel="stylesheet" type="text/css"   href='{% static 'css/index.css'%}'>

</head>
<body>
    
</body>
</html>
<div class="bod">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">SAFO</a>
            <p class="me-2">
                HI there user!welcome back</p>
        </div>
    </nav>
    <button class="btn btn-primary backBtn btn-sm pull-left" type="button">Back</button><br>
    <div class="tot">
        <div class="row">
            <div class="column">
                <img src="{% static "img/safo.png" %}" id ="image" style="width:  200px;">

            </div>
            <div class="column">
                <div class="pr">
                    <br>
                    <h1>title</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia illum optio ea voluptates fugit
                        praesentium excepturi eaque incidunt in numquam. Excepturi quia pariatur explicabo laboriosam
                        sit iusto quibusdam. Unde, pariatur.</p>
                    <h2>20%off grab it now</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <img src="{% static "img/safo.png" %}" id ="image" style="width:  200px;">

            </div>
            <div class="column">
                <div class="pr">
                    <br>
                    <h1>title</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia illum optio ea voluptates fugit
                        praesentium excepturi eaque incidunt in numquam. Excepturi quia pariatur explicabo laboriosam
                        sit iusto quibusdam. Unde, pariatur.</p>
                    <h2>20%off grab it now</h2>
                </div>
            </div>
        </div>

        
    </div>
</div>
