<section id="main part">
    <div class="par">
        <h1 class="head">One Stop</h1>
        <h2> To taste delicious meal</h2><br>
        <p class="para">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium deserunt magnam officiis dolorum earum ea nihil nisi dolores! Nulla harum, est quisquam magni beatae illum enim error eius mollitia sed.
        </p>
        <div>
            <button type="button" class="btn btn-success btn-lg">Sign In</button>
            <button type="button" class="btn btn-outline-success btn-lg">Sign Up</button>
        </div>
    </div>
    
</section>