{% load static%}

<div style="margin-top: 10px; margin-left: 20px; margin-right: 50px;">
    <div class="row">
        <div class="column0">
            <h8 style="margin-left: 70px;">category cars <img src=""></h8>
            <hr style="margin: left 70px;">
            <div class="hl">
                <img src="safo.png" width="250" height="auto" style="border-radius: 10px;"><br>
                <div>
                    <h3>Fried Chicken</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt vero veritatis cumque,
                        laudantium ipsum quisquam, inventore ab, libero sit dolorum possimus perferendis quibusdam
                        tempora quae? Maxime, facere? Nobis, maxime eius!<br>
                        <b>$ 9.99</b>
                    </p>
                    <button type="button" class="btn btn-success btn-sm btn-block">BUY NOW</button>
                </div>
            </div>
            <div class="hl">
                <img src="safo.png" width="250" height="auto" style="border-radius: 10px;"><br>
                <div>
                    <h3>Fried Chicken</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt vero veritatis cumque,
                        laudantium ipsum quisquam, inventore ab, libero sit dolorum possimus perferendis quibusdam
                        tempora quae? Maxime, facere? Nobis, maxime eius!<br>
                        <b>$ 9.99</b>
                    </p>
                    <button type="button" class="btn btn-success btn-sm btn-block">BUY NOW</button>
                </div>
            </div>
        </div>
        <div class="column1">
            Add filters<button type="button" class="btn btn-success btn-sm btn-block" id="bn">sort by</button>
            <hr style="margin: left 70px;">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>

                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
        <div class="column2">
            hifdsouifd
        </div>
    </div>
</div>