<div class="bod">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">SAFO</a>
            <p class="me-2">
                HI there user!welcome back</p>
        </div>
    </nav>
    <button class="btn btn-primary backBtn btn-sm pull-left" type="button">Back</button><br>
    <div class="tot">
        <div class="row">
            <div class="column">
                <img class="bg" src="bg.jpg">
            </div>
            <div class="column">
                <div class="pr">
                    <br>
                    <h1>title</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia illum optio ea voluptates fugit
                        praesentium excepturi eaque incidunt in numquam. Excepturi quia pariatur explicabo laboriosam
                        sit iusto quibusdam. Unde, pariatur.</p>
                    <h2>20%off grab it now</h2>
                </div>
            </div>
        </div>
    </div>
</div>
