{%load static %}
<div class="flex-container">

    <div class="flex-child magenta" style="background-color: #CEECEB;">
        <div class="ins">
            <img src="safo.png" id="image" style="width: 200px">
            <h1 class="tit" style="text-align: center;">Welcome back</h1>
            <form>
                <div class="signup">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Keep me logged in</label>
                    </div><br>
                    <button type="submit" class="btn btn-success btn-lg" style="margin-left: 30%; ;">Sign
                        in</button><br>

            </form>
            <hr style="margin: 10px;"><br>
            <p class="t">Already have an account? <a href="log in">Log In</a></p>
        </div>
    </div>

</div>

<div class="flex-child green" style="background-color:#a1d1bb;">
    <div class="inst">

    </div>

</div>
