.bg-image{
    position: relative;
    height: 800px;
    z-index: 1;
    background-size: 100% auto;
    background-repeat: no-repeat;

}

.frontpg{
    /* height: 800px; */
    margin-right: 20px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
    height: 95%;
    background-color: rgba(73, 70, 73,0.5);
}
#navbarSupportedContent{
    color:white;
}
.par{
    margin-top: 40px;
    width:25%;
    color:white;
    font-size: 24px;
    margin-left: 75%;
}
.para{
    margin-right: 50px;

}
#navbarSupportedContent{
    margin-left: 71%;
    color: white;
}
.secondpg{
    margin-top: 25%;
    margin-bottom: 10%;
}
.foot{
    background-color: #666;
}
.bod{
    margin: 1%;
}
.bg{
    display: inline-block;
    margin-top: 40px;
    width:100%;
    height: auto;
    display:flex;
    align-content: flex-start;

}
.tot{
    display: inline-block;
}


.column {
    float: left;
    width: 50%;
  }
  
.row {
    display: table;
    clear: both;
}
/*sign in page*/
.flex-container {
    display: flex;
    height: 946px;
}
body{
    height: 100%;
}
.flex-child {
    flex: 1;
    height: 100%;
}  
.ins,.inst{
    margin-top: 10%;
    margin-bottom: 10%;
    height:750px
}
.ins{
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 10%;
}
.inst{
    background-color: #CEECEB;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 10%;
}
.tit{
    font-size: 36px
    ;
}
.con{
    margin:40%;
    align-items: center;
}
#image{
    margin-left: 35%;
}
.signup{
    margin-left:30%;
    margin-right: 30%;
    margin: top 5%;
}

 




